<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ head.title ? head.title : "#{blogger} s BLOG" }}</title>
    <meta name="description" content="{{ head.description ? head.description : "#{blogger} s BLOG" }}"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/app.css">
    <script>
        window.ENV = {
            user: {{ auth.user|json_encode|raw }},
            isLogged: {{ auth.user ? "true" : "false" }},
            errors: {{ errors|json_encode|raw }},
            routes: {
                markdownParser: "{{ path_for("posts.markdownParser") }}",
                filesUpload: "{{ path_for("files.upload", {postId : post.id}) }}",
                filesShow: "{{ path_for('files.show', {postId : post.id}) }}",
                fileDelete: "{{ path_for("files.delete") }}"
            },
            csrfToken: "{{ csrf_token() }}"
        };
    </script>
</head>
<body>

<div id="wrap">
    <div class="etc">
        <span href="#" class="etc__trigger" data-header-trigger>메뉴열기</span>

        {% if auth.check() %}
            {% if auth.isAdmin() %}
                <a class="etc__link" href="{{ path_for('posts.write') }}">Write</a>
            {% endif %}
            <a class="etc__link etc__link--last" href="{{ path_for('logout') }}">Logout</a>
        {% else %}
            <a class="etc__link etc__link--last" href="#" data-login>Login</a>
        {% endif %}
    </div>

    <header class="header">
        <h1 class="header__logo">
            <a class="header__logo-link" href="{{ path_for('home') }}">
                <b class="header__blogger">{{ blogger }}</b>'s BLOG
            </a>
        </h1>
        <ul class="header__menu">
            <li class="header__menu-item">
                <a class="header__link" href="{{ path_for('about') }}">About</a>
            </li>
            <li class="header__menu-item">
                <a class="header__link header__link--last" href="{{ path_for('posts.index') }}">Posts</a>
            </li>
        </ul>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</div>

<footer class="footer">
    <p class="footer__text">
        <em class="footer__name"><b class="footer__author">{{ blogger }}</b>'s BLOG</em>
    </p>
</footer>

{% include 'login.twig' %}

<script src="/assets/app.js"></script>
</body>
</html>